<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!--
    <script type="text/javascript" src="/js/qrcode.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/hongru/canvas2image/master/canvas2image.js"></script>
   	-->
  </head>
  <body>
  	<h2>QR APP Open API Console</h2>
    <p><%= title %></p>
    <div id="qrcode">
    	<canvas id="QRCanvas" width="300" height="300">
            Your browser does not support HTML5 Canvas element.
        </canvas>
    </div>
    
    <p id="QRLink">QR Code Content: <%= linkText %></p>
    
    <form>
    	<div>
			<label>QR App Title</label>
			<input name="qrapptitle" placeholder="Please Input Title for Your QR App" />
		</div>
		<div>
			<label>Title</label>
			<input name="linktitle" placeholder="Please Input Title for Your Link URL - 1" />
		</div>
		<div>
			<label>Link URL
				<small>You may use Links for Web Page / Youtube / RSS Contents</small>
			</label>
			<input name="link" placeholder="Please Input Your Link URL - 1" />
		</div>
		<div>
			<label>Title</label>
			<input name="linktitle" placeholder="Please Input Title for Your Link URL - 2" />
		</div>
		<div>
			<label>Link URL</label>
			<input name="link" placeholder="Please Input Your Link URL - 2" />
		</div>
		<div>
			<input id="GetQR" type="button" value="Creat QR"/>
		</div>
		<div>
			<input id="APITest" type="button" value="Function Test : freeapi#test"/>
		</div>
	</form>
	
	    <script type="text/javascript">
			function clearCanvas(){
	    		var canvas = $('#QRCanvas')
				var context = canvas[0].getContext("2d");
				context.fillStyle="#FFFFFF";
	            context.fillRect(0,0,300,300);			
			}
	             
	    	function createQRCanvas(Link){
	    		var qrSize = 200;
	    		var logoSize =30;
	    		var logoPosition = (qrSize-logoSize)/2
	    		clearCanvas()
	    		$('#QRCanvas').hide()
	    		var canvas = $('#QRCanvas')
				var context = canvas[0].getContext("2d");

				$("#QRLink").text( 'QR Code Content: '+Link );
				//new QRCode(document.getElementById("qrcode"), Link);
				//Add QR Code
				var google_img = new Image();
	            google_img.addEventListener('load', function () {
	               context.drawImage(this, 0, 0, qrSize, qrSize);
	            },false);
	            google_img.src = "https://chart.googleapis.com/chart?chs=275x275&cht=qr&chl="+Link+"n&choe=UTF-8";
	            
				//Adding QR App Logo
				setTimeout(function(){
					var branding_img = new Image();
		            branding_img.addEventListener('load', function () {
		            context.fillStyle="#FFFFFF";
	            	context.fillRect(logoPosition-1,logoPosition-1,logoSize+2,logoSize+2);
	                context.drawImage(this, logoPosition, logoPosition, logoSize, logoSize);
		            },false);
		            //branding_img.src = "/images/logo.png";
		            branding_img.src = "http://code.qr-apps.com/images/logo-mobile.png";
		            $('#QRCanvas').show()
	            },2000)   	
	    	}
	    	
		    $(document).ready(function(){

	   			<% var freeqr;
	   				if (freeqr) { %> 
	   				createQRCanvas( '<%= linkText %>') 
	   			<% } %>
		   		 
				$('#GetQR').click(function(){
					var link_arrays = []
					$('input[name=link]').each(function(){
						if ($(this).val()){
							link_arrays.push($(this).val())
						}
					});

					var link_title_arrays = []
					$('input[name=linktitle]').each(function(){
						if ($(this).val()){
							link_title_arrays.push($(this).val())
						}
					});
					
					var linkwindows = []
					for (var i =0; i<link_arrays.length;i++){
						if (link_arrays[i]) {
							if (link_title_arrays[i]) {
								linkwindows.push({title:link_title_arrays[i],link:link_arrays[i]})
							} else {
								linkwindows.push({title:'',link:link_arrays[i]})
							}
						}
					}
					
					var qrapptitle = $('input[name=qrapptitle]').val()
					
					if (link_arrays.length >0){
						var jsondata = JSON.stringify({qrtitle:qrapptitle,windows:linkwindows})
						$.ajax({
							url:"<%= qrtype %>",
							type: "post",
							contentType: "application/json",
							data:jsondata,
							dataType: "json",
							success: function(data, textStatus, jqXHR) { 
								createQRCanvas(data.link)
					            },					
								
							error: function(jqXHR, textStatus, errorThrown) { alert(errorThrown); }
						});
					} else {
						clearCanvas()
						alert('Please input at least 1 URL')
					}
				})
 
				//API Testing
				$('#APITest').click(function(){
					var link_arrays = []
					$('input[name=link]').each(function(){
						if ($(this).val()){
							link_arrays.push($(this).val())
						}
					});
					if (link_arrays.length >0){
						var jsondata = JSON.stringify({id:link_arrays,link:"http://tw.yahoo.com",title:"Hello World"})
						$.ajax({
							url:"/freeapi",
							type: "post",
							contentType: "application/json",
							data:jsondata,
							dataType: "json",
							success: function(data, textStatus, jqXHR) {
								createQRCanvas(data.link)			            
								},
							error: function(jqXHR, textStatus, errorThrown) { alert(errorThrown); }
						});
					} else {
						clearCanvas()
						alert('Please input at least 1 URL')
					}
				})
		    })		    
	    </script>  
	    
  </body>
</html>